@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f8fafc;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}