@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegura que el contenedor del mapa ocupe todo el espacio */
#root, body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}